.content_form
	%h2.category= @content.page
	%p
		Element:
		= @content.element
	- if @content.description.end_with?('png') || @content.description.end_with?('jpg') || @content.description.end_with?('jpeg') || @content.description.end_with?('gif') || @content.description.end_with?('bmp')
		%p= image_tag @content.description, size: '50x50'
	= render 'shared/error_messages', item: @content
	= form_for @content do |f|
		= f.label :description, 'Content'
		= f.text_area :description
		= f.submit 'Update Content', class: 'btn'
= render 'shared/markdown_instructions'