%ul.content
	- categories = @contents.collect{ |x| x.page }.uniq
	- categories.each do |category|
		%h1.category= category
		- @contents.where(page: category).each do |content|
			%li
				%p
					Element:
					= content.element
				%p
					Content:
					= convert_to_markdown content.description
				- if content.description.end_with?('png') || content.description.end_with?('jpg') || content.description.end_with?('jpeg') || content.description.end_with?('gif') || content.description.end_with?('bmp')
					%p= image_tag content.description, size: '50x50'
				%p
					= link_to 'Edit', edit_content_url(content)
			%hr