%ul.content
	- @contents.each do |content|
		%li
			%p
				Page:
				= content.page
			%p
				Element:
				= content.element
			%p
				Content:
				= content.description
			- if content.description.end_with?('png') || content.description.end_with?('jpg') || content.description.end_with?('jpeg') || content.description.end_with?('gif') || content.description.end_with?('bmp')
				%p= image_tag content.description, size: '50x50'
			%p
				= link_to 'Edit', edit_content_url(content)
		%hr