%h1 Manage Content
.content_form
	%p
		Page:
		= @content.page
	%p
		Element:
		= @content.element
	= form_for @content do |f|
		= f.label :description, 'Content'
		= f.text_area :description
		= f.submit 'Update Content', class: 'btn'
= render 'shared/markdown_instructions'