= convert_to_markdown(Content.description_for('The Kordt Co.', 'Top Text'))
= image_tag Content.description_for('The Kordt Co.', 'Picture_1'), size: '282x282', class: 'home_page_photo'
= image_tag Content.description_for('The Kordt Co.', 'Picture_2'), size: '282x282', class: 'home_page_photo'
= image_tag Content.description_for('The Kordt Co.', 'Picture_3'), size: '282x282', class: 'home_page_photo'
= convert_to_markdown(Content.description_for('The Kordt Co.', 'Bottom Text'))