%ul.content
	- @tracks.each do |track|
		%li
			%p
				= link_to track.title, track_url(track)
				- if track.display == false
					%span.draft DRAFT
			= track.link.html_safe
			%p.date.track
				Posted on
				= track.updated_at.strftime('%B %e, %Y')
			%p
				= link_to 'Edit', edit_track_url(track)
				|
				= link_to 'Delete', track_url(track), method: :delete, data: { confirm: 'Are you sure you want to destroy this track?' }
		%hr