.comments
	%h2 Comments
	- if @blog_post.comments.approved.count == 0
		%p.no_comments There are no comments posted yet.
	- else
		- @blog_post.comments.approved.each do |comment|
			%p.commenter= comment.name
			= convert_to_markdown(comment.message)
			%p.date
				Posted on
				= comment.updated_at.strftime('%B %e, %Y')
			- if @current_user.present? && @current_user.admin?
				%p= link_to 'Delete', blog_post_comment_url(blog_post_id: @blog_post.id, id: comment.id), method: :delete, data: { confirm: 'Are you sure you would like to delete this comment?' }
			%hr
	%h2 Add Your Comment
	= form_for [ @commentable, Comment.new ], url: blog_post_comments_url(blog_post_id: @blog_post.id) do |f|
		= f.label :name
		= f.text_field :name
		= f.label :message
		= f.text_area :message, rows: 5
		= f.submit 'Comment', class: 'btn'