%ul.content
	- @blog_posts.each do |blog_post|
		%li
			%p
				= link_to blog_post.title, blog_post_url(blog_post)
				- if blog_post.display == false
					%span.draft DRAFT
			= convert_to_markdown(blog_post.content)
			%p.date
				Written on 
				= blog_post.updated_at.strftime('%B %e, %Y')
			%p
				= link_to 'Edit', edit_blog_post_url(blog_post)
				|
				= link_to 'Delete', blog_post_url(blog_post), method: :delete, data: { confirm: 'Are you sure you want to destroy this blog post?' }
		%hr