%h1= @user.full_name
%h2
	Manage Contents
= render 'contents/manage_contents'
%h2 
	Manage Videos
	= link_to '+ Video', new_video_url, class: 'btn'
= render 'videos/manage_videos'
%h2 
	Manage Blog Posts
	= link_to '+ Blog Post', new_blog_post_url, class: 'btn'
= render 'blog_posts/manage_blog_posts'