= render 'shared/error_messages', item: @inquiry
= form_for @inquiry do |f|
	= f.label :name
	= f.text_field :name
	= f.label :email, 'E-mail'
	= f.text_field :email
	= f.label :message
	= f.text_area :message, rows: 10
	= f.submit 'Send', class: 'btn'