= convert_to_markdown(Content.description_for('Hire', 'Heading'))
.hire_form
	= convert_to_markdown(Content.description_for('Hire', 'Pitch'))
	= render 'inquiries/form'
.contact_info
	%h2 Kordt Larsen
	%p
		= image_tag(Content.description_for('Hire', 'Phone Picture'), size: '30x30')
		%a{href: telephone_for(Content.description_for('Hire', 'Phone Number'))} (312) 217-4123
	%p
		= image_tag(Content.description_for('Hire', 'E-mail Picture'), size: '30x30')
		= mail_to Content.description_for('Hire', 'E-mail Address'), Content.description_for('Hire', 'E-mail Address'), subject: 'Hello'
	%p
		= image_tag(Content.description_for('Hire', 'Residence Picture'), size: '30x30')
		= link_to Content.description_for('Hire', 'Residence'), google_map(Content.description_for('Hire', 'Residence'))
	%br
	%h2 Profiles
	= link_to image_tag(Content.description_for('Hire', 'Profile 1 Picture'), size: '40x40'), Content.description_for('Hire', 'Profile 1 Address')
	= link_to image_tag(Content.description_for('Hire', 'Profile 2 Picture'), size: '40x40'), Content.description_for('Hire', 'Profile 2 Address')
	= link_to image_tag(Content.description_for('Hire', 'Profile 3 Picture'), size: '40x40'), Content.description_for('Hire', 'Profile 3 Address')
	%br
	%br