!!! html5
%html
	%head
		%title TheKordtCo
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
		%link{ href: 'http://fonts.googleapis.com/css?family=Carrois+Gothic', rel: 'stylesheet', type: 'text/css' }
	%body
		.container
			= render 'layouts/header'
			= render 'layouts/flash', flash: flash
			.content
				= yield
		= render 'layouts/footer'